<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.doelia.calendrierfds" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Calendrier FDS</name>
    <description>
        Consulteur d'emploi du temps de la faculté des sciences
    </description>
    <author email="stephane@doelia.fr" href="http://doelia.fr">
        Stéphane Wouters
    </author>
    <content src="index.html" />
    <icon src="www/img/logo.png" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/img/logo_android.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="SuppressesLongPressGesture" value="true" />
        <preference name="Suppresses3DTouchGesture" value="true" />
        <preference name="StatusBarOverlaysWebview" value="false" />
    </platform>
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="https://github.com/katzer/cordova-plugin-local-notifications" />
</widget>
