<div class="container" ng-controller="CalendarController as calendarCtrl">

    <button class="waves-effect waves-light btn" ng-click="goPage('/')">
        <i class="fa fa-chevron-circle-left pr"></i> Retour
    </button>

    <h1 class="block">Prochain cours</h1>

    <div ng-show="true">
        <ul class="collection" ng-repeat="ue in calendarCtrl.creneaux | orderBy : '-DateStart' : true">
            <li class="collection-item">
                  <p class="title"><i class="fa fa-graduation-cap pr"></i> {{ue.Summary}}</p>
                  <p>{{ue.Description}}</p>
                  <p>Le {{ue.DateStart * 1000 | date:'dd/MM' }} de {{ue.DateStart * 1000 | date: 'HH:mm'}} à {{ue.DateEnd * 1000 | date: 'HH:mm'}}</p>
                  <p>Lieu : {{ue.Location}}</p>
            </li>
        </ul>
    </div>

    <p ng-hide="true">
        Vous n'êtes encore abonné a aucune UE.
        Selectionnez vos UEs pour visualiser votre emploi du temps et recevoir les alertes associées.
    </p>


</div>
