<div class="container" ng-controller="CalendarController as calendarCtrl">

    <button class="waves-effect waves-light btn" ng-click="goPage('/')">
        <i class="fa fa-chevron-circle-left pr"></i> Retour
    </button>

    <h2 class="block">Prochains cours</h2>

    <div ng-controller="UEsController as myUesCtrl">

        <div ng-show="calendarCtrl.haveUe">
            <ul class="collection" ng-repeat="ue in calendarCtrl.creneaux | orderBy : '-DateStart' : true">
                <li class="collection-item">
                      <p class="title"><i class="fa fa-graduation-cap pr"></i> {{ue.Summary}}</p>
                      <p><i class="fa fa-calendar pr"></i> Le {{ue.DateStart * 1000 | date:'dd/MM' }} de {{ue.DateStart * 1000 | date: 'HH:mm'}} à {{ue.DateEnd * 1000 | date: 'HH:mm'}}</p>
                      <p>{{ue.Description}}</p>
                      <p><i class="fa fa-map-marker pr"></i> {{ue.Location}}</p>
                </li>
            </ul>
        </div>

        <div ng-hide="calendarCtrl.haveUe">
            <p>Vous n'êtes encore abonné à aucune UE.</p>

            <button class="waves-effect waves-light btn" ng-click="goPage('/mes-ues')">
                <i class="fa fa-graduation-cap pr pr"></i> Gestion de mes UEs
            </button>
        </div>

        <div ng-hide="calendarCtrl.isLoad || !calendarCtrl.haveUe">
            <p>Synchronisation avec le serveur...</p>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>

    </div>

</div>
