<div class="container">
    <header class="block">
        <h1>Emloi du temps</h1>
        <h1>Faculté des sciences</h1>
    </header>
    <div class="block">
        <h2>Prochain cours</h2>
        <p>
            HMIN305 - Ingénierie des modèles
        </p>
        <p>
            Salle 13.04
        </p>
    </div>
    <div class="block">
        <div class="row menu">
          <div class="col s3 center waves-effect waves-light z-depth-2" ng-click="goPage('/page2')">
            <i class="fa fa-calendar"></i>
            <p>Calendrier</p>
          </div>
          <div class="col s3 center waves-effect waves-light z-depth-2" ng-click="goPage('/mes-ues')">
            <i class="fa fa-list"></i>
            <p>Mes UEs</p>
          </div>
          <div class="col s3 center waves-effect waves-light z-depth-2" ng-click="goPage('/page2')">
            <i class="fa fa-bell"></i>
            <p>Alertes</p>
          </div>
          <div class="col s3 center waves-effect waves-light z-depth-2" ng-click="goPage('/page2')">
            <i class="fa fa-cog"></i>
            <p>Réglages</p>
          </div>
          <div class="col s3 center waves-effect waves-light z-depth-2" ng-click="goPage('/page2')">
            <i class="fa fa-refresh"></i>
            <p>Mettre à jour</p>
          </div>

        </div>
    </div>
</div>
