<div class="container">
    <header class="block">
        <h1>Emploi du temps</h1>
        <h1>Faculté des sciences</h1>
    </header>
    <div class="block" ng-controller="CalendarController as current" ng-show="current.haveUe && (!current.isLoad || current.getCurrent() != null)">
        <h2>Prochain cours</h2>
        <div ng-show="current.isLoad">
            <p>
                {{current.currentCreneau.Description}}
            </p>
            <p>
                Le {{current.currentCreneau.DateStart * 1000 | date:'dd/MM' }} de {{current.currentCreneau.DateStart * 1000 | date: 'HH:mm'}} à {{current.currentCreneau.DateEnd * 1000 | date: 'HH:mm'}}
            </p>
            <p>
                {{current.currentCreneau.Location}}
            </p>
        </div>
        <div ng-hide="current.isLoad">
            <p>Synchronisation avec le serveur...</p>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="row menu">
          <div class="col s3 center waves-effect waves-light z-depth-1" ng-click="goPage('/calendar')">
            <i class="fa fa-calendar"></i>
            <p>Calendrier</p>
          </div>
          <div class="col s3 center waves-effect waves-light z-depth-1" ng-click="goPage('/mes-ues')">
            <i class="fa fa-list"></i>
            <p>Mes UEs</p>
          </div>
          <div class="col s3 center waves-effect waves-light z-depth-1" ng-click="goPage('/page2')">
            <i class="fa fa-bell"></i>
            <p>Alertes</p>
          </div>
          <div class="col s3 center waves-effect waves-light z-depth-1" ng-click="goPage('/page2')">
            <i class="fa fa-cog"></i>
            <p>Réglages</p>
          </div>
          <!-- <div class="col s3 center waves-effect waves-light z-depth-2" ng-click="goPage('/page2')">
            <i class="fa fa-refresh"></i>
            <p>Mettre à jour</p>
          </div> -->
        </div>
    </div>
</div>
