<div class="container">

    <button class="waves-effect waves-light btn" ng-click="goPage('/')">
        <i class="fa fa-back pr"></i> Retour
    </button>

    <h1>Vos UEs</h1>

    <p>Vous êtes abonné aux cours des UEs suivantes :</p>

    <div ng-controller="UEsController as uesCtrl">
        {{uesCtrl.test}}
        <ul class="collection" ng-repeat="ue in uesCtrl.ues">
            <li class="collection-item avatar">
                <span class="title">{{ue.Name}}</span>
                <p>{{ue.Description}}<br>
                <a class="secondary-content"><i class="fa fa-times"></i></a>
            </li>
        </ul>

        <button class="waves-effect waves-light btn" ng-click="goPage('/selet-ue')">
            <i class="fa fa-plus pr"></i> S'abonner à une nouvelle UE
        </button>

    </div>
</div>
