<div class="container">

    <button class="waves-effect waves-light btn" ng-click="goPage('/')">
        <i class="fa fa-chevron-circle-left pr"></i> Retour
    </button>

    <h1>Vos UEs</h1>

    <p>Vous êtes abonné aux cours des UEs suivantes :</p>

    <div ng-controller="UEsController as uesCtrl">
        {{uesCtrl.test}}
        <ul class="collection" ng-repeat="ue in uesCtrl.ues">
            <li class="collection-item">
                <div class="row">
                  <div class="col s10">
                      <p class="title"><i class="fa fa-graduation-cap pr"></i> {{ue.Name}}</p>
                      <p>{{ue.Description}}<br>
                  </div>
                  <div class="col s2 center">
                      <button class="btn-floating red"><i class="fa fa-trash"></i></button>
                  </div>
                </div>
            </li>
        </ul>

        <button class="waves-effect waves-light btn" ng-click="goPage('/select-ue')">
            <i class="fa fa-plus pr"></i> S'abonner à une nouvelle UE
        </button>

    </div>
</div>
