<div class="container" ng-controller="UEsController as uesCtrl">

    <button class="waves-effect waves-light btn" ng-click="goPage('/')">
        <i class="fa fa-chevron-circle-left pr"></i> Retour
    </button>

    <h1 class="block">Vos UEs</h1>

    <div ng-show="uesCtrl.getUes().length">
        <p>Vous êtes abonné aux cours des UEs suivantes :</p>

        <ul class="collection" ng-repeat="ue in uesCtrl.getUes()">
            <li class="collection-item">
                <div class="row">
                  <div class="col s10">
                      <p class="title"><i class="fa fa-graduation-cap pr"></i> {{ue.Name}}</p>
                      <p>{{ue.Description}}</p>
                  </div>
                  <div class="col s2 center">
                  <button class="btn-floating red" ng-click="uesCtrl.removeUe(ue)"><i class="fa fa-trash"></i></button>
                  </div>
                </div>
            </li>
        </ul>
    </div>

    <p ng-hide="uesCtrl.getUes().length">
        Vous n'êtes encore abonné a aucune UE.
        Selectionnez vos UEs pour visualiser votre emploi du temps et recevoir les alertes associées.
    </p>

    <button class="waves-effect waves-light btn" ng-click="goPage('/select-ue')">
        <i class="fa fa-plus pr"></i> S'abonner à une nouvelle UE
    </button>
</div>
