<div class="container" ng-controller="UesSelectorController as uesCtrl">

    <button class="waves-effect waves-light btn" ng-click="goPage('/mes-ues')">
        <i class="fa fa-chevron-circle-left pr"></i> Retour
    </button>

    <h2 class="block">Abonnement à une nouvelle UE</h2>

    <div ng-show="uesCtrl.isLoad">

        <div class="input-field">
            <input id="search" type="text" ng-model="search.Description">
            <label for="search">Rechercher une UE</label>
        </div>

        <div>
            <ul class="collection" ng-repeat="ue in filtered = (uesCtrl.getAllUes(search) | filter: search) | limitTo:uesCtrl.limitUE">
                <li class="collection-item">
                    <div class="row">
                      <div class="col s10">
                          <p class="title"><i class="fa fa-graduation-cap pr"></i> {{ue.Name}}</p>
                          <p>{{ue.Description}}<br>
                      </div>
                      <div class="col s2 center" ng-controller="UEsController as myuesCtrl">
                          <button ng-hide="myuesCtrl.contains(ue)" ng-click="myuesCtrl.addUe(ue)" class="btn-floating green"><i class="fa fa-plus"></i></button>
                          <button ng-show="myuesCtrl.contains(ue)" ng-click="myuesCtrl.removeUe(ue)" class="btn-floating red"><i class="fa fa-minus"></i></button>
                      </div>
                    </div>
                </li>
            </ul>

            <p ng-hide="search.Description">
                L'annuaire est composé de {{uesCtrl.allUes.length}} UEs.
            </p>
            <div class="card-panel red lighten-3" ng-show="filtered.length > uesCtrl.limitUE">
                Seuls les {{uesCtrl.limitUE}} premières UEs sont affichées. Vous pouvez affiner votre recherche
            </div>
        </div>
        
    </div>
</div>
