body {
    background: #fcfcfc;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.container {
    padding-top: 45px;
    padding-bottom: 40px;
}

.statusBar {
    position: fixed;
    height: 20px;
    width: 100%;
    z-index: 10;
}

.menu .fa {
    font-size: 3rem;
}

.menu.row {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
}

.menu .col {
    padding-top: 20px;
}

.fa.pr {
    padding-right: 4px;
}

.collection .collection-item .title {
    font-weight: bold;
    font-size: 1.1em;
}

.collection .collection-item p {
    margin: 5px;
}

.collection .collection-item .btn-floating {
    margin-top: 20px;
}

.collection .collection-item .row {
    margin-bottom: 0;
}
