body {
    background: #fcfcfc;
}

h1, h2 {
    text-transform: uppercase;
    font-weight: 300;
}

.container {
    padding-top: 45px;
    padding-bottom: 40px;
}

.statusBar {
    position: fixed;
    height: 20px;
    width: 100%;
    z-index: 10;
}

.block {
    margin: 20px 0 20px 0;
    padding: 10px 20px 10px 20px;
    background: rgb(240, 240, 240);
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.6rem;
}

.menu .fa {
    font-size: 3rem;
}

.menu.row {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
    background-color: white;
}

.menu .col {
    padding-top: 20px;
}

.fa.pr {
    padding-right: 4px;
}

.collection {
    border: 1px solid rgb(51, 51, 51);
}

.collection .collection-item {
}

.collection .collection-item .title {
    font-weight: bold;
    font-size: 1.1em;
}

.collection .collection-item p {
    margin: 5px;
}

.collection .collection-item .btn-floating {
    margin-top: 20px;
}

.collection .collection-item .row {
    margin-bottom: 0;
}

.btn, .btn-large {
    background-color: #03B6BE;
}
